body {
  background-color: #030a14;
  color: white;
}
#lien {
  background-color: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(3, 10, 20, 0) 100%
  );
}
#background {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0) 0%,
    rgba(2, 5, 28, 0.7) 39%,
    rgba(3, 10, 20, 1) 100%
  );
}
::-webkit-scrollbar {
  height: 10px;
}
::-webkit-scrollbar-track {
  background-color: #030a14;
}
::-webkit-scrollbar-thumb {
  background-color: #b00a24;
}
#c1 {
  background-image: url("./Componets/images/c1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#c2 {
  background-image: url("./Componets/images/c2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#c3 {
  background-image: url("./Componets/images/c3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#c4 {
  background-image: url("./Componets/images/c4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#c5 {
  background-image: url("./Componets/images/c5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#c6 {
  background-image: url("./Componets/images/c6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#c7 {
  background-image: url("./Componets/images/c7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#c8 {
  background-image: url("./Componets/images/c8.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
